*{
    margin: 0;
    
}
.main{
    background-attachment: fixed;
    height: 500px;
	background-image: url(images/house6.jpg);
    background-size: cover;
  
}
.section_two{
    background-color: grey;
}
.test{
    height: 60px;
}
.createbtn{
    background-color: green;
    height: 40px;
    width: 70px;
    float: left;
}
header{
    background-image:url(images/construction1.jpeg);
}
h3{
    text-align: center;
}
.home-image{
    height:100%;
}
nav ul{
    display: flex;
    float: right;
    margin-top: 20px;
    
}
.learnmorebtn{
    height: 40px;
    width: 70px;
    color: green;
    background-color: white;
    float: right;
    align-content: center;
}
.services_section{
    margin-top: 150px;
    background-image: url(images/construction1.jpeg);

    
}
.services_imgs{
    height: 100px;
}
.about_img{
    height: 250px;
}
.topics{
    
}
table{
    align-items: center;
    width: 100%
}
table,th{

    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-align: center;
}
.contable{
    align-items: center;
    width: 100%
}
.contable,th{

    padding: 10px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-align: center;
}
h1{
    color: white;
    background-color: orange;
    text-align: center;
    font-size: 45px;
    
}
h2{
    text-align-content: center;
    font-size: 50px;
    color: blue;
}
.building_paragraph{
    text-align: center;
}
.about_paragraph{
    text-align: center;
    margin-top: 70px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
    
}
nav {
    background-color: #32a85e;
    height: 55px;
    position: fixed;
    width: 100%;

}

.our-team{

}
.about-us{
    height: 70vh;
    text-align: center;

}
h4
{
    font-size: 25px;
    color: blue;
}
.team-images{
    text-align: center;
    
}
.team-images img{
    height: 30vh;
    border-radius: 45%;
    padding: 10px;
    justify-content: center;
}
.services-section{
    margin-top: 70px

}

.team-images p{
    text-align: center;
}
.about{
    background-color: gray;
    padding-top: 70px;

}
.our-team h1{
    text-align: center;
}

.services{
    display: flex;
    margin-right: 20px;
    padding:20px;
    border-radius: 20px;
}

.contacts{
     display: flex;
    margin-right: 20px;
    padding:20px;
    border-radius: 20px;

}
.pages{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    
}
footer{
    align-items: center;
    height: 40px;
    text-align: center;
    color: white;
    background-color: black;
}
.gallery img{
    height: 350px;
    width: 280px;

}
